@import 'tailwindcss';

/* @font-face {
	font-family: 'Inter';
	src: url('../assets/font/Inter-Variable.ttf') format('truetype');
} */

@font-face {
	font-family: 'Playfair';
	src: url('../assets/font/PlayFair.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Playfair';
	src: url('../assets/font/PlayFair.ttf') format('truetype');
	font-weight: 600;
	font-style: semibold;
}
@font-face {
	font-family: 'Playfair';
	src: url('../assets/font/PlayFair.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;

}

@font-face {
	font-family: 'Inter';
	src: url('../assets/font/Inter.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('../assets/font/Inter.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;

}
@font-face {
	font-family: 'Inter';
	src: url('../assets/font/Inter.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@theme {
	--color-secondary: oklch(0.373 0.034 259.733);
	--color-default-bg: #f4f3f2;
	--color-text-primary: oklch(13% 0.028 261.692);
	--color-text-secondary: oklch(55.1% 0.027 264.364);

	--font-inter: 'Inter';
	--font-playfair: 'Playfair';

	--text-h1: 3.815rem;
	--text-h2: 3.052rem;
	--text-h3: 2.441rem;
	--text-h4: 1.953rem;
	--text-h5: 1.563rem;
	--text-h6: 1.25rem;
	--text-p: 1rem;
	--text-sm: 0.8rem;
	--text-xs: 0.64rem;
}
html {
	/* background-color:hsl(212, 45%, 94%); */
	background-color: #fafafa;
	margin: 0;
	scroll-behavior: smooth;
	/* font-size: 14px; */
}

body {
	margin: 0;
	width: 100%;
	line-height: 1.6;
}
/* h1 {
	font-size: 3.815rem;
}
h2 {
	font-size: 3.052rem;
}
h3 {
	font-size: 2.441rem;
}
h4 {
	font-size: 1.953rem;
}
h5 {
	font-size: 1.563rem;
	font-family: "Playfair";
	padding: 1rem 0;
}
h6 {
	font-size: 1.25rem;
} */
/* p {
	font-size: 1rem;
} */
