---
const { title, icon } = Astro.props;
---

<button
  class="py-2 px-4 flex gap-2 cursor-pointer border-1 border-black/25 w-fit rounded-sm hover:bg-black/10 transition duration-100 ease-linear"
>
  {icon && icon}
  {title}
</button>
