---
const { date, location, position, company } = Astro.props;
---

<div class="relative flex flex-col pl-8 pb-5 last:pb-0 gap-2">
  <!-- DOT -->
  <span class="absolute left-1 top-2 rounded-full w-2.5 h-2.5 bg-black text-black"
  ></span>
  <span
    class="absolute w-[2px] left-[.5rem] top-[.5rem] h-full last:h-full bg-black"
  ></span>

  <div class="flex justify-between">
    <h4 class="text-sm">{date}</h4>
    <h4 class="flex items-center gap-1 text-black/60 text-sm">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-map-pin-icon lucide-map-pin"
        ><path
          d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
        ></path><circle cx="12" cy="10" r="3"></circle></svg
      >{location}
    </h4>
  </div>
  <h3 class="text-3xl">{position}</h3>
  <h4>{company}</h4>
</div>
