---
const { date, location, position, company } = Astro.props;
---

<div class="relative flex flex-col pl-8 pb-5 last:pb-0 gap-2">
  <!-- DOT -->
    <span class="absolute left-1 top-2 rounded-full w-2.5 h-2.5 bg-black text-black"
  ></span>

    <p class="text-xs text-secondary">{date}  {location}</p>
  <div>
    <h3 class="text-2xl">{position}</h3>
    <p class="text-secondary">{company}</p>
  </div>
</div>
