---

---

<footer class="flex h-12 py-3 border-t-1 border-black/15 justify-center">
  <div
    class="w-full max-w-[80ch] flex flex-row justify-between items-center h-full"
  >
    <p>© 2024</p>
    <p>Git hub</p>
  </div>
</footer>
