---

---

<footer class="flex h-12 py-3 border-t-1 border-black/15 justify-center">
  <div
    class="w-full max-w-[80ch] flex flex-row justify-between items-center h-full mx-5 md:mx-auto"
  >
    <p>© 2025</p>
    <a href="https://github.com/cottonBuds211/portfolio-astro" target="_blank"
      >Github</a
    >
  </div>
</footer>
