---
import Navigation from "./Navigation.astro";
---

<nav
  x-data="{top: false}"
  x-init="
    const update = () => {
      top = window.scrollY === 0
    }
      update()

      window.addEventListener('scroll', update)"
  :class="top ? 'bg-transparent' : 'backdrop-blur-sm shadow-sm'"
  class="nav fixed top-0 w-full h-16 z-50 text-secondary"
>
  <div class=" w-full max-w-[80ch] h-full md:mx-auto">
    <Navigation />
  </div>
</nav>
