---
const { color, logo, title } = Astro.props;
---

<div
  class={`w-fit h-fit border-1 border-black/10 p-3 flex flex-row items-center gap-2  backdrop-blur-2xl cursor-default hover:bg-black/15 `}
>
  {logo && <img src={logo} class="w-5" />}
  <div>
    <p class="font-light text-md">{title}</p>
  </div>
</div>
