---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import "../styles/global.css";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script></head
  >
  <!-- x-data="{locked: true}"
    x-init="setTimeout(() => locked = false, 6000)"
    :class="{'overflow-hidden' : locked}" -->
  <body
  
    class="font-inter text-gray-950"
  >
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
