---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import "../styles/global.css";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/logo.png" />
    <title>{pageTitle}</title>
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
      defer></script>
    <script>
      if ("scrollRestoration" in history) {
        history.scrollRestoration = "manual";
      }
    </script>
  </head>
  <!--  -->
  <body
    x-data="{locked: true}"
    x-init="
      setTimeout(() => locked = false, 6000)  
  "
    :class="{'overflow-hidden' : locked}"
    class="font-inter text-gray-950"
  >
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
